
.js-carousel {
	padding-bottom: 30px;
	
	.carousel-wrapper {
		position:relative;
		width:100%;
		overflow:hidden;
		height:auto;

		.control {
			position:absolute;
			z-index:1;
			top:calc(50% - 20px);
			background: rgba(255, 255, 255, 0.6);
			border-radius:50px;
			width:40px;
			height:40px;

			button {
				position: absolute;
				border: solid $gray;
			    border-width: 0 3px 3px 0;
			    display: inline-block;
			    text-indent: -9999px;
			    width:20px;
			    height:20px;
			    cursor:pointer;
			    background:none;
			    left: 7px;
    			top: 6px;
			}

			&:first-of-type {
				left:20px;
				transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
			}

			&:last-of-type {
				right:20px;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}
	}

	.carousel-counter {
		text-align:right;
	}

	.carousel-view {
		overflow:hidden;
		width: auto;
		display: flex;
	}

	.carousel-element {
		position:relative;
		flex: 1 0 100%;
		transition-property: all;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

		img {
			width:100%;
		}
	}

	&.col-6 .carousel-element {
		flex: 1 0 calc(50% - 10px);
		padding: 0 10px;

		&.active {
			padding-left:0;
		}

		&:nth-child(2n) {
			padding-right:0;
		}
	}
}

@-webkit-keyframes carousel-view {
    100% { left: 0; }
}

@keyframes carousel-view {
    100% { left: 0; }
}